h1 {
    font-size: 30px;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 22px;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
    border-bottom: 1px solid #ddd;
    counter-increment: h2;
    counter-reset: h3 h4;

    &:not(.md-focus):before {
        display: inline-block;
        content: counter(h2);
        padding-right: $counter-gapRight;
        min-width: $counter-width;
    }
}

h3 {
    font-size: 18px;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
    counter-increment: h3;
    counter-reset: h4;

    &:not(.md-focus):before {
        display: inline-block;
        content: counter(h2) "." counter(h3);
        padding-right: $counter-gapRight;
        min-width: $counter-width;
    }
}

h4 {
    font-size: 16px;
    margin-top: 1rem;
    counter-increment: h4;

    &:not(.md-focus):before {
        display: inline-block;
        content: counter(h2) "." counter(h3) "." counter(h4);
        padding-right: $counter-gapRight;
        min-width: $counter-width;
    }
}

h5 {

}

h6 {

}

h1, h2, h3, h4, h5, h6 {
    tt, code {
        font-size: inherit;
    }
}

// h1:first-child + h2 {
//     margin-top: inherit;
// }

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
    margin-top: 0;
}