@include-when-export url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&subset=latin-ext');

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("./simple/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: url("./simple/Roboto-Italic.ttf");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("./simple/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 700;
    src: url("./simple/Roboto-BoldItalic.ttf");
}