@import 'modularscale-sass/stylesheets/_modularscale.scss';

$modularscale: (
    base: 14px,
    ratio: 1.18
);

html {

}

body {
    line-height: 1.2;
    font-size: 14px;
}

#write {
    max-width: 860px;
    margin: 0 auto;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    padding: 15mm;
    color: #444;
    counter-reset: h2 h3 h4;

    & > *:first-child {
        margin-top: 0;
    }

    & > *:last-child {
        margin-bottom: 0;
    }

    h1, h2, h3, h4, h5, h6,
    p, ol, ul, blockquote, dl, table {
        padding: 0;
        margin: 0.5rem 0;
        border: 0;
        font-size: inherit;
    }

    h1 {
        font-size: 30px;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 20px;
        margin-top: 2rem;
        margin-bottom: 1.2rem;
        border-bottom: 1px solid #ddd;

        &:before {
            display: inline-block;
            counter-increment: h2;
            counter-reset: h3 h4;
            content: counter(h2);
            padding-right: 1rem;
            min-width: 3rem;
        }
    }

    h3 {
        font-size: 16px;
        margin-top: 1.5rem;
        margin-bottom: 0.8rem;

        &:before {
            display: inline-block;
            counter-increment: h3;
            counter-reset: h4;
            content: counter(h2) "." counter(h3);
            padding-right: 1rem;
            min-width: 3rem;
        }
    }

    h4 {
        font-size: 14px;
        margin-top: 1rem;

        &:before {
            display: inline-block;
            counter-increment: h4;
            content: counter(h2) "." counter(h3) "." counter(h4);
            padding-right: 1rem;
            min-width: 3rem;
        }
    }

    h5 {

    }

    h6 {

    }

    h1, h2, h3, h4, h5, h6 {
        tt, code {
            font-size: inherit;
        }
    }

    h1:first-child + h2 {
        margin-top: inherit;
    }

    a {
        color: #4183C4;
    }

    ol, ul {
        padding-left: 2em;
        margin-bottom: 1rem;
    }

    blockquote {
        border-left: 4px solid #ddd;
        padding: 0 1em;
        color: #777;
        line-height: 1.5;
    }

    // inline Code
    .md-fences,
    code,
    tt {
        border: 1px solid #ddd;
        background-color: #f8f8f8;
        border-radius: 3px;
        padding: 0;
        font-family: Consolas, "Liberation Mono", Courier, monospace;
        padding: 2px 4px 0px 4px;
        font-size: 0.9em;
    }

    // block Code
    .md-fences {
        margin-bottom: 15px;
        margin-top: 15px;
        padding: 0.2em 1em;
        padding-top: 8px;
        padding-bottom: 6px;
    }
}